<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="userDao" class="com.johar.springframework.beans.UserDao"/>
    <bean id="company" class="com.johar.springframework.factory.ProxyBeanFactory"/>
    <bean id="userService" scope="prototype" class="com.johar.springframework.beans.UserService">
        <property name="who" value="Anna"/>
        <property name="age" value="21"/>
        <property name="id" value="1"/>
        <property name="sex" value="FEMALE"/>
        <property name="userDao" ref="userDao"/>
        <property name="company" ref="company"/>
    </bean>

    <bean class="com.johar.springframework.common.MyBeanFactoryProcessor"/>
    <bean class="com.johar.springframework.common.MyBeanPostProcessor"/>
</beans>